<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>机器人对话</title>
    <script src="./../js/jquery.js"></script>
    <link rel="stylesheet" href="./../css/weui.css">
</head>
<body>
<div style="overflow-y:auto; overflow-x:auto; width: 60%; height: 400px;" id="dialog">
</div>
<br>
<div class="weui-cell" style="width: 30%; height: 100px; ">
    <div class="weui-cell__bd">
        <textarea id="question" class="weui-textarea" placeholder="请输入文本" rows="3" style="font-size: 20px; font-family: 微软雅黑"></textarea>
        <div class="weui-textarea-counter"><span>0</span>/200</div>
    </div>
</div>
<button class="weui-btn weui-btn_mini weui-btn_primary" id="sendBtn">发送</button>
<script src="./../js/index.js"></script>
</body>
</html>